<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>Input</title> 
</head>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id="Nav"></div>
<script type="text/javascript" src="./javascripts/sidebar/bundle.js"></script>
<div id="root"></div>
<script type="text/javascript" src="./javascripts/newUI/bundle.js"></script>
</body>
</html>